.header{
  background-color: rgb(42, 42, 42);
  height: 100px;
  display: flex;
  align-items: center;
}

.title{
  color: white;
  margin: 32px;
}

.button{
  background-color: #FE0074;
  border: none;
  padding: 24px;
  padding-left: 56px;
  padding-right: 56px;
  margin: 32px;
}